<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOAL</title>
</head>

<body>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<div class="body">
  <div class="center">

    <div class="name-hero">

      <div class="me-img"></div>

      <div class="name-text">

        <h1>What I want to become <em> {{goal_detail.proffession}}</em></h1>
        <h1>Specific goal for the year <em> {{goal_detail.goal}}</em></h1>
        <h1>What I want to become <em> {{goal_detail.proffession}}</em></h1>
        <h1>5 actions to achieve goal <em> {{goal_detail.actions}}</em></h1>
        <h1>Is it realistic or not <em> {{goal_detail.realistic}}</em></h1>
        <h1>CountDown <em> {{goal_detail.countdown}}</em></h1>

      </div>

    </div>

  </div>
</div>
</body>
</html>